.tooltip {
    display: inline;
    position: relative;
    border-bottom: 1px dotted black;
}
.tooltip:hover:after {
    position: absolute;
    bottom: 150%;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0,0,0,0.9);
    color: white;
    border-radius: 6px;
    padding: 6px;
    content: attr(tip);
    text-align: center;
    font-size: 16px;
    font-weight:normal;
    width: max-content;
    max-width: min(500px, 50vw);
}
.tooltip:hover:before {
    position: absolute;
    bottom: 150%;
    left: 50%;
    transform: translate(-50%, 100%);
    border: solid;
    border-color: rgba(0,0,0,0.9) transparent;
    border-width: 6px 6px 0px;
    content: "";
}
img {
    transition: .25s ease;
}
img:hover {
    filter: brightness(75%);
}