.media_grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}
.media_grid > * {
    margin: auto;
    margin-top: 0;
    width: 485px;
}
.media_grid img {
    object-fit: cover;
}
.youtube {
    aspect-ratio: 16/9;
    width: 100%;
}
figure img {
    display: block;
}
figure figcaption {
    font-style: italic;
    text-align: center;
    vertical-align: top;
    text-wrap: balance;
}
a > img {
    transition: .25s ease;
}
a > img:hover {
    filter: brightness(75%);
}